.App {
    background-color: #FAD61D;
    padding: 5rem 0 0;
    min-height: 100vh;
}

.navbar {
    background-color: #E19720;
}

nav a{
    color: #000 !important;
}

main {
    min-height: 100vh;
}

.page-link {
    color: black;
}
